@font-face {
  font-family: 'Montserrat';
  src: url('fonts/MS900.woff2') format('woff2'), url('fonts/MS900.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/MS900.woff2') format('woff2'), url('fonts/MS900.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/MS700.woff2') format('woff2'), url('fonts/MS700.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/MS400.woff2') format('woff2'), url('fonts/MS400.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/MS200.woff2') format('woff2'), url('fonts/MS200.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/MS100.woff2') format('woff2'), url('fonts/MS100.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'proxima';
  src: url('fonts/Prima Nova Bold.woff2') format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'proxima';
  src: url('fonts/Prima Nova Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'proxima';
  src: url('fonts/Prima Nova Light.woff2') format('woff2');
  font-weight: 300;
}